
h2 {
    color: blue;
    text-align:center ;
    font-size: 50px;
  }
  h3 {
    white-space: 20px;
  color : black;
  font-size: 25px;
  }
  
  
  
  
  body{
    height:200px;
      background-color:#ddd
    
  }
    
    
    
    h4{
      white-space: 20px;
      margin-bottom: 10000px;
      font-size: 25px;
      color: black;
      }
   .dropdown1{
     margin-top:15px;
   }
  .dropdown{
    margin-top: 40px;
  }
  .b{
    
    margin-top: 40px;
    margin-bottom:60px ;
  }
  