html,
body,
#root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

$blue_theme: #70a1ff;
//Root Container
.root-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {

      border: 3px solid rgb(0, 68, 255) ;
      width:550px;
      height: 350px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 15px 10px 10px rgb(0, 162, 255);
      background-color: white;
      padding-bottom: 10px;
    transition: visibility  0.2s ease-out; text-align: center;
}

.inner-container{
  transition: visibility  0.2s ease-out; text-align: center;

}

.login-input{
  text-align: center;
  margin-top: 5px;
}


.inner-container.show {
    visibility: visible;
}

.top{
        font-size: 25px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text{ text-align: center; font-size: 18px; font-style: italic;
}


.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.middle{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }


//Label
.login-label {
    font-family: Oxygen, sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
}

//Input
.login-input {
    height: 2.1em;
    border-radius: 3px;
    border: 10px solid $blue_theme;
    transition: border 0.4s ease-out;
    border-style: groove;
    padding: 13px;
    margin-left: 50px; margin-right: 50px;
    font-family: Oxygen, sans-serif;
    font-size: 21px;
    color: #3e3e42;
    background: rgba(15, 15, 15, 0.01);
}

.login-input:hover {
    border: 2px solid;
}

.login-input:focus {
    border: 2px solid #6565e7;
    box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

.login-input::placeholder {
    font-family: Oxygen, sans-serif;
    font-size: 14px; //color: rgba(46, 213, 116, 0.839);
    color: rgba(15, 15, 15, 0.4);
}

.login-btn {
    padding: 2px 30px;
    font-size: 15px;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.login-btn:hover,
.login-btn:focus {
    background-color: #417cef;
    color: white;
}

.show {
    visibility: visible;
}
