@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


h12{font-size: 1.5em;

}
h13{
  font-size: 1.5em;
}
h14{
  font-size: 1.5em;
}
.firs_t{
  margin-left: 100px;
  height: 220px;
  margin-top:28px ;

}
.seco_nd{
  margin-left: 10em;
  margin-right: 7em;
}
h8{
  color:rgb(0, 68, 255);
    font-size:30px; 
    font-weight: bold;
    
    margin-left:8px;
    text-shadow: 10px 5px 5px rgb(0, 162, 255);
}

.boxed{
    
  text-align:center ;
  border: 3px solid rgb(0, 68, 255) ;
  width:450px;
  height:520px;
  margin-left: auto;
  margin-right: auto;
  margin-top:0px;
  margin-bottom:15px;
  align-content: center;
  padding-top: 0px;
  padding-bottom: 6px;
  padding-right:10px;
  padding-left:5px;
  box-shadow: 15px 10px 10px rgb(0, 162, 255);
  background-color: white;
  
}
.butt__{
  padding: 10px;;
  margin-top: 10px;
  margin-bottom:5px ;
  margin-left: 0px;
  margin-right:400px ;
}
.para{
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: 'Abril Fatface', cursive;
}

dd{
  appearance: none;
  outline:none;
  box-shadow: none;
  background: #2c3e50;
  border: 0!important;
}
#dd{
  padding: 20px;
  height: 20px;
  width: 100px
  
  
}
.fontstyle{
  font-family: 'Abril Fatface', cursive;
}
.gap2{
  margin: 20px;;
}
.gap1{
  margin: 20px;;
}
#gaph1{
  margin: 20px;;
}
#gaph2{
  margin: 20px;;
}
.butt{
  display: flex;;
}
#first{
  margin-left:10em;
  padding-right:20px;
  padding:10px;
  
  
}
#second{
 margin: 5px;
  margin-left:25px;
 padding-top: 10px;
 padding-left: 20px;
}